@charset "UTF-8";
/* CSS Document */

#keyVisual{
background:url(../images/pc/design/bg_keyvisual.png) no-repeat 50% 50%;
background-size:cover;
}

#keyText{
padding:18px 0 0 95px;
}

#future{
background:url(../images/pc/design/bg_future.png) no-repeat 50% 50%;
background-size:cover;
}

#future p{
font-size:16px;
text-align:center;
color:#FFF;
padding:146px 0 0 0 ;
line-height:45px
}

.dreameList{
width:1100px;
margin:55px auto 0;
overflow:hidden
}

.dreameList li{
float:left;
width:220px
}

.dreameList dd{
padding:0 20px;
text-align:justify;
text-justify:inter-ideograph;
line-height:24px
}

#merit{
background:url(../images/pc/common/bg_merit.png) no-repeat 50% 50%;
background-size:cover;
}
	
.meritList{
overflow:hidden;
width:1100px;
margin:0 auto;
}

.meritList li{
width:306px;
float:left;
padding:60px 30px 0;
}

.meritList dt{
text-align:center
}

.meritList dd{
color:#FFF;
padding:30px 0 0 0;
line-height:26px;
text-align:justify;
text-justify:inter-ideograph;
}

.peopleList{
overflow:hidden;
width:1100px;
margin:55px auto 0;
}

.peopleList li{
width:367px;
float:left;
}

.peopleList li:nth-child(2){
width:366px;
float:left;
}

.peopleList dd{
padding:0 16px;
line-height:24px;
text-align:justify;
text-justify:inter-ideograph;
}

#feature{
background:url(../images/pc/it/bg_feature.png) no-repeat 50% 50%;
background-size:cover;
}

#feature .peopleList dd{ 
color:#FFFFFF
}








