@charset "UTF-8";
/* CSS Document */

#skill{
background:url(../images/sp/it/bg_skill.png) no-repeat 50% 50%;
background-size:cover;
}

#skill p{
font-size:12px;
color:#FFF;
text-align:justify;
text-justify:inter-ideograph;
padding:0 20px;
}

.evolutionList{
overflow:hidden;
}

.evolutionList li{
padding:0 0 20px 0;
}

.evolutionList li dl{
padding:0 20px;
overflow:hidden;
}

.evolutionList li dt{
float:left;
}

.evolutionList li dd{
float:right;
width : 56% ;
font-size:12px;
width : -webkit-calc(96% - 110px) ;
width : calc(96% - 110px) ;
}

.evolutionList li:nth-child(2n) dt{
float:right;
}

.evolutionList li:nth-child(2n) dd{
float:left;
width : 56% ;
font-size:12px;
width : -webkit-calc(96% - 110px) ;
width : calc(96% - 110px) ;
}

.evolutionList dd img{
margin:0 0 5px 0
}

.evolutionList li:last-child{
padding:0 0 0 0;
}

#merit{
background:#00809e
}

.merilList{
padding:0 20px
}

.merilList dt{
text-align:center;
padding:0 0 8px
}

.merilList dd{
font-size:12px;
color:#FFF;
padding:0 0 20px 0
}

.merilList dd:last-child{
padding:0 0 0 0
}

.peopleList{
padding:0 20px
}

.peopleList dd{
font-size:12px;
padding:14px 0 25px 0;
}

.peopleList dd:last-child{
padding:14px 0 0 0
}

#feature{
background:#00809e
}

.featureList{
padding:0 20px;
overflow:hidden
}

.featureList dd{
font-size:12px;
color:#FFF;
padding:14px 0 25px 0;
}

.featureList dd:last-child{
padding:14px 0 0 0
}



