@charset "UTF-8";
/* CSS Document */


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - 
　Stracture
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body{
margin:0;
font-size:14px
}

img{
vertical-align:bottom;
border:none
}

h1,h2,h3,h4,dl,dt,dd{
margin:0;
padding:0
}

h1{
position:absolute;
right:30px;
top:100px
}

h2{
text-align:center
}

ul,li{
list-style:none;
padding:0;
margin:0
}

section{
padding:100px 0;
position:relative;
padding:50px 0\9; /* IE8 以下 */
}

header{
position:relative
}

p{
margin:0;
padding:0
}

.mgt05{
margin-top:5px!important
}

.mgt22{
margin-top:22px!important
}

.mgt25{
margin-top:25px!important
}

.mgt55{
margin-top:55px!important
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - 
　Common
- - - - - - - - - - - - - - - - - - - - - - - - - - - */
#logo{
text-align:center
}

#keyVisual{
height:725px;
width:100%;
min-width:1100px
}

#keyText{
width:1100px;
margin:0 auto;
padding:18px 0 0 18px;
display:block
}

.entry p{
text-align:center;
margin:25px 0 0 0
}

.entryList{
width:1100px;
margin:0 auto;
overflow:hidden
}

.entryList li{
float:left;
margin:0 20px 0 0
}

.entryList li:last-child{
float:right;
margin:0
}

.inner{
width:1100px
}

.downBtn{
position:absolute;
bottom:-28px;
left:50%;
margin:0 0 0 -28px;
z-index:100;
}

.upBtn{
position:absolute;
bottom:-28px;
left:50%;
margin:0 0 0 -28px;
z-index:100
}

footer{
border-top:#d7d7d7 1px solid;
padding:29px 0 23px 0
}

#footList{
overflow:hidden;
width:1100px;
margin: 0 auto 
}

#footList li{
float:left
}

#footList li:last-child{
float:right
}












