@charset "UTF-8";
/* CSS Document */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - 
　Stracture
 - - - - - - - - - - - - - - - - - - - - - - - - - - - */
*{
max-width:100%
}

body{
margin:0;
font-size:14px;
-webkit-text-size-adjust: 100%;
}

img{
vertical-align:bottom
}

h1,h2,h3,h4,dl,dt,dd,p{
margin:0;
padding:0
}

h2{
text-align:center;
margin:0 0 20px 0
}

ul,li{
list-style:none;
padding:0;
margin:0
}

section{
padding:20px 0
}

p{
text-align:justify;
text-justify:inter-ideograph;
}


 
 /* - - - - - - - - - - - - - - - - - - - - - - - - - - - 
　Common
- - - - - - - - - - - - - - - - - - - - - - - - - - - */
#logo{ text-align:center}

.inner{
padding:0 20px
}

.entryList{
width:100%;
overflow:hidden;
margin:11px 0 0 0;
}

.entryList li{
float:left;
margin:0 0 4% 0;
width:48%
}

.entryList li:nth-child(2n){
float:right;
}

.odd li:last-child{
clear:both;
margin:0 auto 4%;
float:none
}

.entry p{
font-size:9px;
text-align:center;
letter-spacing:-1px
}

footer{
border-top:#d7d7d7 1px solid;
text-align:center
}

.entry h2{
margin:0 0 0 0
}
